@import "tailwindcss";
@theme {
  --color-beige: #f5ebe0;
  --color-primary-green: #8cb369;

  --color-accent-red: #9f313a;
  --color-accent-red-inactive: #9f313a;
  --color-accent-orange: #bc5c00;
  --color-accent-orange-inactive: #bc5c00;
  --color-accent-green: #4d806f;
  --color-accent-green-inactive: #4d806f;
  --color-accent-yellow: #f4e285;
}
h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

p {
  font-family: "Mulish", sans-serif;
}

.dash-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%238CB369FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
}
